<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stations Vélib</title>
</head>
<body>
    <h1>Informations sur les stations Vélib</h1>

    <h2>Statistiques Générales</h2>
    <ul>
        <li>Nombre total de vélos disponibles : {{ general_infos.nb_available_bikes }}</li>
        <li>Nombre total de places disponibles : {{ general_infos.nb_available_places }}</li>
        <li>Nombre de stations vides : {{ general_infos.nb_empty_stations }}</li>
        <li>Nombre de stations pleines : {{ general_infos.nb_full_stations }}</li>
        <li>Nombre de stations avec au moins un vélo disponible : {{ general_infos.nb_stations_w_n_bikes_greater_than_zero }}</li>
        <li>Nombre de stations avec au moins une place disponible : {{ general_infos.nb_stations_w_n_places_greater_than_zero }}</li>
        <li>Nombre de stations en service : {{ general_infos.nb_stations_in_service }}</li>
        <li>Nombre de stations en maintenance : {{ general_infos.nb_stations_in_maintenance }}</li>
    </ul>

    <h2>Liste des Stations</h2>
    <div>
        {% for station in stations_infos %}
        <div>
            <h3>{{ station.station_id }}</h3>
            <p>Vélos disponibles : {{ station.numBikesAvailable }}</p>
            <p>Places disponibles : {{ station.numDocksAvailable }}</p>
        </div>
        {% endfor %}
    </div>
</body>
</html>
